html,
body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    overflow-x: hidden;
}

p {
    font-size: 14px;
    line-height: 26px;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.btn {
    font-size: 14px;
    padding: 10px 30px;
    border-radius: 0px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}